*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 1024px;
    height: 1500px;
    border: 1px solid grey;
    margin: 0px auto;
    margin-top: 30px;
    display: block;
}



#left-header, #right-header{
    float: left;
    margin: 5px;
    width: 49%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: blueviolet;
}

#right-header{
    float: right;
}

#main{
    width: 99%;
    padding-bottom: 70%;
    margin: 5px;
    background: orange;
    float: left;
}

#articles article{
    justify-content: center;
    width: 22%;
    margin: 8px;
    float:  left;
    padding: 50px;
    background: blue;
}

#footers footer{
    float: left;
    margin: 10px;
    width: 98%;
    height: 100%;
    padding-bottom: 6%;
    background: grey;
}